@using Microsoft.AspNetCore.Http;
@using System.Globalization

@model planner.ViewModels.HomeViewModels;


@{
    var now = DateTime.Now;
    var persianCalendar = new System.Globalization.PersianCalendar();
}
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <aside>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                        @{
                            for(int month = 1; month <= 12; month++)
                            {
                                var monthStartDate = new DateTime(now.Year, month, 1);
                                var daysInMonth = DateTime.DaysInMonth(now.Year , month);

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading@(monthStartDate.ToString("MMMM"))">
                                        <button class="accordion-button accordion-button1 collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse@(monthStartDate.ToString("MMMM"))"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                            @GetPersianMonth(month)
                                        </button>
                                    </h2>
                                    <div id="flush-collapse@(monthStartDate.ToString("MMMM"))"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne"
                                     data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                            @for (int day = 1; day <= daysInMonth; day++)
                                                {
                                                    var date = new DateTime(now.Year, month, day);
                                                    var persianDate = persianCalendar.GetYear(date) + "/" +
                                                    persianCalendar.GetMonth(date).ToString("00") + "/" +
                                                    persianCalendar.GetDayOfMonth(date).ToString("00");

                                                    <li><a href="/Home/Activity?YearId=@(persianCalendar.GetYear(date))&MonthId=@(persianCalendar.GetMonth(date))&DayId=@(persianCalendar.GetDayOfMonth(date))">@persianCalendar.GetDayOfWeek(date).ToString() - @persianDate</a></li>

                                                }
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
              </div>
            </aside>
          </div>
          <div class="col-9">
            <div class="col-12">
              <div class="detail">
                <div class="detail_dashbord1 col-3">
                  <div>
                    <img
                      class="img_detail_dashbord"
                      src="~/img/rating.png"
                      alt=""
                    />
                  </div>
                  <div class="detail_dashbord_div">
                    <span class="detail_dashbord_span">امتیازات</span>
                    <p class="detail_dashbord_p">0 ستاره</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <div class="detail">
                  <p class="detail_item_p">کارهای روزانه</p>
                  <div class="detail_item_wrapper">
                    @foreach (var task in Model.TasksList)
                    {
                            <div class="detail_item detail_item_task" data-id="@task.TaskId">
                                    <div class="detail_item_close detail_item_close_task" data-id="@task.TaskId">
                                <img class="detail_img" src="~/img/close.png" alt="" />
                            </div>
                            <div class="detail_item_task">
                                <span class="detail_item_span">
                                    @task.TaskName
                                </span>
                            </div>
                            <div class="detail_item_check">
                                <input class="detail_item_checkbox" data-id="@task.TaskId" type="checkbox" @(task.IsDone == 1 ? "checked" : "no") />
                            </div>
                        </div>

                    }
                    <div class="detail_item_add">
                            @using (Html.BeginForm("addTask" , "Home"))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Tasks.TaskName , new {@Class = "detail_input"})
                                    @Html.HiddenFor(m => m.Tasks.YearId , new { @Id = "yearID" })
                                    @Html.HiddenFor(m => m.Tasks.MonthId , new { @Id = "monthID" })
                                    @Html.HiddenFor(m => m.Tasks.DayId , new { @Id = "dayID" })
                                    <button class="detail_submit" type="submit">ثبت</button>
                                </div>
                            }
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded" , function() {
                                var _monthId = new URLSearchParams(window.location.search).get("MonthId");
                                document.getElementById("monthID").value = _monthId;
                                var _yearId = new URLSearchParams(window.location.search).get("YearId");
                                document.getElementById("yearID").value = _yearId;
                                var _dayId = new URLSearchParams(window.location.search).get("DayId");
                                document.getElementById("dayID").value = _dayId;
                            })
                        </script>
                        <script>
                            $(document).ready(function() {
                                $(".detail_item_close_task").each(function() {
                                    $(this).on('click' , function() {
                                        var _taskId = $(this).data("id");

                                        $.ajax({
                                            url: "/Home/DeleteTask",
                                            type: "POST",
                                            data: {_id : _taskId},
                                            success: function (data) {
                                                //remove the item from the list in the client side
                                                $(".detail_item_task[data-id='" + _taskId + "']").remove();
                                            }
                                        })

                                    })
                                });

                                $(".detail_item_checkbox").each(function () {
                                    $(this).change(function () {
                                        var _ItemId = $(this).data("id");
                                        var _isDone = $(this).is(':checked') ? 1 : 0;

                                        $.ajax ({
                                            type: "POST",
                                            url: "/Home/UpdateTask",
                                            data: {_id: _ItemId , _isDone: _isDone },
                                            success: function (data) {
                                                console.log (data);
                                            }
                                        });

                                    })
                                })
                            })
                        </script>
                  </div>
                </div>
                </div>
                  <div class="col-5">
                    <div class="detail">
                    <p class="detail_item_p">هزینه ها</p>
                    <div class="detail_item_wrapper">
                                    @foreach (var expense in Model.ExpenseList)
                                    {
                                        <div class="detail_item detail_item_expense" data-id="@expense.ExpenseId">
                                            <div class="detail_item_close detail_item_close_expense" data-id="@expense.ExpenseId">
                                                <img class="detail_img" src="~/img/close.png" alt="" />
                                            </div>
                                            <div class="detail_item_task">
                                                <span class="detail_item_span">
                                                    @expense.ExpenseTitle
                                                </span>
                                            </div>
                                            <div class="detail_item_Cost">
                                                <span>
                                                    @expense.ExpensePrice تومان
                                                </span>
                                            </div>
   
                                        </div>
                                    }
                      
                      
                      <div class="detail_item_add">
                        <div class="detail_item_add">
                            @using (Html.BeginForm("AddExpense", "Home"))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Expenses.ExpenseTitle , new {@Class = "detail_input"})
                                    @Html.TextBoxFor(m => m.Expenses.ExpensePrice , new {@Class = "detail_input"})
                                    @Html.HiddenFor(m => m.Expenses.YearId , new { @Id = "yearIDE" })
                                    @Html.HiddenFor(m => m.Expenses.MonthId , new { @Id = "monthIDE" })
                                    @Html.HiddenFor(m => m.Expenses.DayId , new { @Id = "dayIDE" })
                                    <button class="detail_submit" type="submit">ثبت</button>
                                </div>
                            }
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded" , function() {
                                var _monthId = new URLSearchParams(window.location.search).get("MonthId");
                                document.getElementById("monthIDE").value = _monthId;
                                var _yearId = new URLSearchParams(window.location.search).get("YearId");
                                document.getElementById("yearIDE").value = _yearId;
                                var _dayId = new URLSearchParams(window.location.search).get("DayId");
                                document.getElementById("dayIDE").value = _dayId;
                            })
                        </script>

                        <script>
                            $(document).ready(function() {
                                $(".detail_item_close_expense").each(function() {
                                    $(this).on('click' , function() {
                                        var _expenseId = $(this).data("id");

                                        $.ajax({
                                            url: "/Home/DeleteExpense",
                                            type: "POST",
                                            data: { _id: _expenseId },
                                            success: function (data) {
                                                //remove the item from the list in the client side
                                                $(".detail_item_expense[data-id='" + _expenseId + "']").remove();
                                            }
                                        })

                                    })
                                })
                            })
                        </script>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="detail">
                    <p class="detail_item_p">هدف ماهانه</p>
                    <div class="detail_item_wrapper">
                    @foreach (var goal in Model.GoalsList)
                    {
                        <div class="detail_item detail_item_goal" data-id="@goal.GoalId">
                            <div class="detail_item_close detail_item_close_goal"  data-id="@goal.GoalId">
                                <img class="detail_img" src="~/img/close.png" alt="" />
                            </div>
                            <div class="detail_item_task">
                                <span class="detail_item_span">
                                    @goal.GoalName
                                </span>
                            </div>
                                            

                        </div>
                    }
              

                    <div class="detail_item_add">
                        @using (Html.BeginForm("AddGoal", "Home"))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Goals.GoalName , new {@Class = "detail_input"})
                                @Html.HiddenFor(m => m.Goals.YearId , new { @Id = "yearIDM" })
                                @Html.HiddenFor(m => m.Goals.MonthId , new { @Id = "monthIDM" })
                                @Html.HiddenFor(m => m.Goals.DayId , new { @Id = "dayIDM" })
                                <button class="detail_submit" type="submit">ثبت</button>
                            </div>
                        }
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var _monthId = new URLSearchParams(window.location.search).get("MonthId");
                            document.getElementById("monthIDM").value = _monthId;
                            var _yearId = new URLSearchParams(window.location.search).get("YearId");
                            document.getElementById("yearIDM").value = _yearId;
                            var _dayId = new URLSearchParams(window.location.search).get("DayId");
                            document.getElementById("dayIDM").value = _dayId;
                        })
                    </script>
                    <script>
                        $(document).ready(function () {
                            $(".detail_item_close_expense").each(function () {
                                $(this).on('click', function () {
                                    var _expenseId = $(this).data("id");

                                    $.ajax({
                                        url: "/Home/DeleteExpense",
                                        type: "POST",
                                        data: { _id: _expenseId },
                                        success: function (data) {
                                            //remove the item from the list in the client side
                                            $(".detail_item_expense[data-id='" + _expenseId + "']").remove();
                                        }
                                    })

                                })
                            })
                        })
                    </script>
                    </div>
                  </div>
                  </div>
                  <div class="col-12">
                    <ul>
                      <li class="detail_li">
                        یادداشت
                      </li>
                    </ul>
                    <div class="detail">
                      <textarea class="detail_textarea" ></textarea>
                      <div class="detail_item_submit_wrapper">
                      <div class="detail_item_submit_text">
                        <button class="detail_submit">ثبت</button>
                      </div>
                    </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                           
                                $(".detail_submit").on('click', function () {

                                    var _MonthId = new URLSearchParams(window.location.search).get("MonthId");     
                                    var _YearId = new URLSearchParams(window.location.search).get("YearId");                        
                                    var _DayId = new URLSearchParams(window.location.search).get("DayId");
                                    var _text = $(".detail_textarea").val();

                                    $.ajax({
                                        url: "/Home/AddDescription",
                                        type: "POST",
                                        data: { 
                                            _text : _text,
                                            _MonthId : _MonthId,
                                            _YearId : _YearId,
                                            _DayId , _DayId
                                        },
                                        success: function (data) {
                                            console.log(data);
                                        }
                                    })

                                })
                          
                        })
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>

@functions  {
    private string GetPersianMonth(int month)
    {
        string _monthname = "";

        switch(month)
        {
            case 1:
                _monthname = "فروردین";
            break;
            case 2:
                _monthname = "اردیبهشت";
            break;
            case 3:
                _monthname = "خرداد";
            break;
            case 4:
                _monthname = "تیر";
            break;
            case 5:
                _monthname = "مرداد";
            break;
            case 6:
                _monthname = "شهریور";
            break;
            case 7:
                _monthname = "مهر";
            break;
            case 8:
                _monthname = "آبان";
            break;
            case 9:
                _monthname = "آذر";
            break;
            case 10:
                _monthname = "دی";
            break;
            case 11:
                _monthname = "بهمن";
            break;
            case 12:
                _monthname = "اسفند";
            break;
        }

        return _monthname;
    }
}